<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>

	<header th:replace="layout/layout :: header"> </header>

	<div>
		<h1 th:text="${titulo}"></h1>
		<h4><a th:href="@{/listar}">Listar Usuarios</a></h4>
		<h4><a th:href="@{'/mascota/adoptar/'} + ${usuario.idUsuario}">Crear Mascota</a></h4>
		<ul>
			<li th:text="${usuario.tipoDocumento}"></li>
			<li th:text="${usuario.cedula}"></li>
			<li th:text="${usuario.nombre}"></li>
			<li th:text="${usuario.correo}"></li>
			<li th:text="${usuario.telefono}"></li>
		</ul>
		
		<div th:if="${#lists.isEmpty(usuario.mascotas)}" th:text="'No hay mascotas asignadas para al Usuario: '+ ${usuario.nombre}"></div>
		<!-- <table th:if="${not #lists.isEmpty(usuario.mascotas)}"> -->
		<table >
			<thead>
				<tr>
					<th>Nombre de la Mascota</th>
					<th>Edad</th>
					<th>Genero</th>
					<th>Tamaño</th>
					<th>Descripcion</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="mascota: ${usuario.mascotas}">
					<td th:text="${mascota.nombre}"></td>
					<td th:text="${mascota.edad}"></td>
					<td th:text="${mascota.genero}"></td>
					<td th:text="${mascota.tamanio}"></td>
					<td th:text="${mascota.descripcion}"></td>
				</tr>
				
			</tbody>
		</table>
 	
		
	</div>


	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	
</body>
</html>