<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Insert title here</title>
<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
	<body>
	    <!--encabezado-->
 	<header th:replace="layout/layout :: header"> </header>

	
		<div class="container">
		<h1 th:text="${titulo}"></h1>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>TIPO DE DOCUMENTO</th>
					<th>CEDULA</th>
					<th>NOMBRE</th>
					<th>CORREO</th>
					<th>TELEFONO</th>
					<th>Asignar Mascota</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="usuario: ${usuarios}">
					<td><a th:href="@{/info/} + ${usuario.idUsuario}"  th:text="${usuario.idUsuario}"></a></td>
					<td th:text="${usuario.tipoDocumento}"></td>
					<td th:text="${usuario.cedula}"></td>
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.correo}"></td>
					<td th:text="${usuario.telefono}"></td>
					<td><a th:href="@{'/mascota/form/'} + ${usuario.idUsuario}">Asignar Mascota</a></td>
					
				<!-- 	<td><a th:href="@{/form/} + ${estudiante.id}">Editar</a></td>
					<td><a th:href="@{/eliminar/} + ${estudiante.id}">Eliminar</a></td> -->

				</tr>
			</tbody>
		</table>

	</div>
	
	
	<footer th:replace="layout/layout :: footer"> </footer>
	
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	
		<!--  <script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>-->
	</body>
</html>